<html>
    <body>
        <form method="post">
            <p>
                <label> Company name: </label>
                <br>
                <input type="text" id="company" name="company" value="" autocomplete="off">
            </p>

            <p>
                <label> Position: </label>
                <br>
                <input type="text" id="position" name="position" value="" autocomplete="off">
            </p>

            <p>
                <label> Start date: </label>
                <br>
                <input type="text" id="start" name="start" value="" autocomplete="off">
            </p>

            <p>
                <label> End date: </label>
                <br>
                <input type="text" id="end" name="end" value="" autocomplete="off">
            </p>

            <br>

            <button> SUBMIT </button>
        </form>
    </body>
</html>