<html>
    <body>
        <form method="POST">
            <p>
                <label for="fName"> First Name: </label>
                <br>
                <input type="text" name="fName" id="fName">
            </p>

            <p>
                <label for="lName"> Last Name: </label>
                <br>
                <input type="text" name="lName" id="lName">
            </p>

            <p>
                <label for="email"> Email: </label>
                <br>
                <input type="text" name="email" id="email">
            </p>

            <br>

            <p> <button type="submit" value="submit"> Submit </button> </p>
        </form>
    </body>
</html>