<html>
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    
    <style>
        .header h1
        {
           font-family: 'Audiowide', serif;
           font-size: 36px;
           font-weight: 400;
           background-color: white;
        }
    </style>

    <div class="header h1">
        <p style="text-align:center"> <img src="/static/professional_logo.jpg" alt="logo" width="200" height="200"> </p>
        <h1 style="text-align:center" font="Audiowide"> KnowPros </h1>
    </div>

    <br>

    <h1 style="text-align:center"> Sign up </h1>

    <body>
        <form method="POST">
            <p style = "text-align:center">
                <label for="username"> Username: </label>
                <br>
                <input type="text" name="username" id="username" autocomplete="off" required>
            </p>

            {% if data %}
                <h3 style="color:red"> ERROR: Username already exists </h3>
            {% endif %}

            <p style = "text-align:center">
                <label for="password"> Password: </label>
                <br>
                <input type="password" name="password" id="password" required>
            </p>

            <input type="checkbox" onclick="toggleVisibility()"> Show Password

            <br>

            <p style = "text-align:center"> <button type="submit"> Submit </button> </p>
        </form>

        <script>
            function toggleVisibility() {
                var element = document.getElementById("password");
                
                if (element.type === "password") {
                    element.type="text";
                } 
                else {
                    element.type="password";
                }
            }
        </script>
    </body>
</html>