<html>
    <style>
        table, th, td{
            border: 1px solid black;
            padding: 2px;
        }
    </style>

    <body>
        <table>
            <tr>
                <th>Username</th>
                <th>Password</th>
            </tr>

            {% for item in data %}
                <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                </tr>                
            {% endfor %}
        </table>

        <br>
        <br>

        <form method="post">
            <button> PRESS ME </button>
        </form>

        {% if msg %}
        <p style="color:orangered">
            <b> {{msg}} </b>
        </p>
        {% endif %}
    </body>
</html>